*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: silver;
}
div {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  padding: 1rem 2rem;
  box-shadow: 0 0 3px grey;
}
h1 {
  text-decoration: underline;
}
.bottom {
  background-color: aquamarine;
  border-radius: 10%;
  display: block;
  cursor: pointer;
}
